*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

img {
  display: block;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  font-size: inherit;
  font-weight: inherit;
}

button:focus {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

select:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input, select, textarea {
  border: none;
}

input:focus {
  outline: none;
}

@font-face {
  font-family: "Montserrat";
  src: url(/src/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(/src/assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(/src/assets/fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(/src/assets/fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/src/assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/src/assets/fonts/Open_Sans/OpenSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/src/assets/fonts/Open_Sans/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/src/assets/fonts/Open_Sans/OpenSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(/src/assets/fonts/Poppins/Poppins-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(/src/assets/fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(//src/assets/fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(/src/assets/fonts/Poppins/Poppins-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
body {
  font-family: "Open Sans";
}

.h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}

.h2 {
  font-size: 32px;
  line-height: 56px;
}

.h2, .h3, .h4, .h5, .h6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
}

.colorful-text {
  color: #00EAC3;
  text-transform: uppercase;
}

a, p, h1, h2, h3, h4, h5, h6 {
  color: white;
}

@media (max-width: 1620px) {
  .h1 {
    font-size: 50px;
    line-height: 50px;
  }
}
@media (max-width: 1366px) {
  .h1 {
    font-size: 43px;
    line-height: 48px;
  }
  .h2 {
    font-size: 28px;
    line-height: 46px;
  }
}
@media (max-width: 1024px) {
  .h1 {
    font-size: 38px;
    line-height: 40px;
  }
  .h2 {
    font-size: 24px;
    line-height: 42px;
  }
}
@media (max-width: 720px) {
  .h1 {
    font-size: 28px;
    line-height: 30px;
  }
  .h2 {
    font-size: 22px;
    line-height: 38px;
  }
}
@media (max-width: 428px) {
  .h1 {
    font-size: 24px;
    line-height: 22px;
  }
  .h2 {
    font-size: 18px;
    line-height: 56px;
  }
}
body {
  background-color: #040b1d;
}

.inner-block {
  max-width: 1097px;
  margin: 0 auto;
}

.text-lines {
  display: block;
  position: relative;
  width: fit-content;
}
.text-lines::before {
  content: " ";
  display: block;
  background-color: #00EAC3;
  position: absolute;
  width: 50px;
  height: 1px;
  left: -60px;
  top: 50%;
}
.text-lines::after {
  content: " ";
  display: block;
  position: absolute;
  background-color: #00EAC3;
  right: -60px;
  width: 50px;
  height: 1px;
  top: 50%;
}

.text-container, .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.text-container .module, .icon-wrapper .module {
  display: flex;
  align-items: center;
  position: relative;
  border: 0;
  background-color: transparent;
  padding: 0 28px;
}
.text-container .module::before, .icon-wrapper .module::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  padding: 1px;
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: source-out;
  mask-composite: exclude;
  background-size: 400% 400%;
}
.text-container .module .text, .icon-wrapper .module .text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.action-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-text-container .module {
  display: flex;
  align-items: center;
  position: relative;
  border: 0;
  background-color: transparent;
}
.action-text-container .module::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  padding: 1px;
  border: 1px solid;
  background: linear-gradient(95.02deg, #118975 6.4%, rgba(0, 234, 195, 0) 110.99%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: source-out;
  mask-composite: exclude;
  background-size: 400% 400%;
}
.action-text-container .module .text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.number-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.number-block .module {
  display: flex;
  align-items: center;
  position: relative;
  border: 0;
  background-color: transparent;
}
.number-block .module::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  padding: 1px;
  border: 1px solid;
  background: linear-gradient(131.21deg, #0B8570 -35.69%, #00EAC3 143.27%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: source-out;
  mask-composite: exclude;
  background-size: 400% 400%;
}

.hidden {
  display: none;
}

@media (max-width: 1366px) {
  .inner-block {
    max-width: 100%;
    padding: 0 70px;
  }
  .inner-block .text-container .module .text {
    font-size: 16px;
    line-height: 26px;
  }
  .inner-block .text-lines::before {
    left: -50px;
  }
  .inner-block .text-lines::after {
    right: -50px;
  }
}
@media (max-width: 1024px) {
  .inner-block {
    max-width: 100%;
    padding: 0 60px;
  }
  .inner-block .text-lines::before {
    width: 40px;
    left: -45px;
  }
  .inner-block .text-lines::after {
    width: 40px;
    right: -45px;
  }
}
@media (max-width: 720px) {
  .inner-block .text-lines::before {
    width: 30px;
    left: -40px;
  }
  .inner-block .text-lines::after {
    width: 30px;
    right: -40px;
  }
}
@media (max-width: 428px) {
  .inner-block {
    max-width: 100%;
    padding: 0 20px;
  }
  .inner-block .text-container .module .text {
    font-size: 24px;
    line-height: 28px;
  }
  .inner-block .text-lines::before {
    width: 30px;
    left: -35px;
  }
  .inner-block .text-lines::after {
    width: 30px;
    right: -35px;
  }
}
@media (max-width: 720px) {
  .inner-block .text-container .module .text {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 428px) {
  .inner-block .text-container .module .text {
    font-size: 15px;
    line-height: 25px;
  }
}
.header {
  position: absolute;
  height: 58px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 19px 0;
}
.header .inner-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header .inner-block .logo {
  max-height: 100%;
  width: auto;
}
.header .inner-block .nav {
  font-family: "Open Sans";
  font-style: normal;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.header .inner-block .nav .nav-item {
  margin: 0 15px;
  text-transform: uppercase;
}
.header .inner-block .nav .nav-item:hover {
  color: #00EAC3;
}
.header .inner-block .nav .nav-item_active {
  color: #00EAC3;
  font-weight: 800;
}
.header .inner-block .show-menu {
  width: 30px;
  height: 30px;
  background-image: url(/src/assets/images/icons/menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1620px) {
  .header {
    margin: 16px 0;
  }
  .header .inner-block .logo {
    max-height: 100%;
  }
  .header .inner-block .nav {
    font-size: 14px;
    line-height: 20px;
  }
  .header .inner-block .nav .nav-item {
    margin: 0 10px;
  }
}
@media (max-width: 1366px) {
  .header {
    margin: 14px 0;
  }
}
@media (max-width: 1024px) {
  .header {
    height: 40px;
    margin: 14px 0;
  }
  .header .inner-block {
    max-height: 100%;
  }
  .header .inner-block .logo {
    height: 40px;
  }
  .header .inner-block .nav {
    font-size: 12px;
    line-height: 18px;
  }
  .header .inner-block .nav .nav-item {
    margin: 0 7px;
  }
}
@media (max-width: 720px) {
  .header {
    height: 50px;
    margin: 10px 0;
  }
  .header .inner-block .nav {
    display: none;
  }
  .header .inner-block .show-menu {
    display: block;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 428px) {
  .header {
    padding: 0 4px 0 15px;
    height: 50px;
    margin: 0;
  }
  .header .inner-block .logo {
    height: 32px;
  }
  .header .inner-block .nav {
    display: none;
  }
  .header .inner-block .show-menu {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }
}
.main .start {
  background-image: url(/src/assets/images/start_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  max-width: none;
}
.main .start .inner-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.main .start .inner-block .h1 {
  padding-top: 194px;
  max-width: 80%;
}
.main .start .inner-block .h1 .colorful-text {
  font-family: "Poppins";
}
.main .start .inner-block .space-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex: 1;
}
.main .start .inner-block .space-div .mouse-down {
  width: 40px;
  height: 61px;
  background-image: url(/src/assets/images/icons/mouse_down.svg);
  margin: 27px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1620px) {
  .main .start .inner-block .h1 {
    padding-top: 166px;
  }
}
@media (max-width: 1024px) {
  .main .start .inner-block .h1 {
    padding-top: 146px;
    max-width: 96%;
  }
  .main .start .inner-block .space-div .mouse-down {
    width: 34px;
    height: 56px;
    margin: 22px;
  }
}
@media (max-width: 720px) {
  .main .start .inner-block .h1 {
    padding-top: 126px;
    max-width: 80%;
  }
}
@media (max-width: 428px) {
  .main .start .inner-block .h1 {
    padding-top: 107px;
    max-width: 75%;
  }
  .main .start .inner-block .space-div .mouse-down {
    width: 28px;
    height: 44px;
    margin: 46px;
  }
}
@media (max-width: 350px) {
  .main .start .inner-block .h1 {
    padding-top: 107px;
    max-width: 87%;
  }
}
.main .term {
  padding: 89px 0;
}
.main .term .inner-block {
  display: grid;
  grid-template-columns: 55% 1fr;
  grid-template-rows: 110px 1fr 1fr;
  grid-template-areas: "h2 pic" "text-1 pic" "text-2 pic";
  padding-left: 45px;
}
.main .term .inner-block .h2 {
  grid-area: h2;
  margin: 0 auto;
  padding: 21px 0;
}
.main .term .inner-block .text-container {
  height: 208px;
}
.main .term .inner-block .text-container .module {
  height: 100%;
}
.main .term .inner-block .text-container-1 {
  grid-area: text-1;
  margin-bottom: 34px;
}
.main .term .inner-block .text-container-2 {
  grid-area: text-2;
}
.main .term .inner-block .section-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: pic;
}
.main .term .inner-block .section-image-container .section-image {
  margin-right: -15%;
  object-fit: contain;
}

@media (max-width: 1366px) {
  .main .term {
    padding: 62px 0;
  }
  .main .term .inner-block {
    padding-left: 28px;
    grid-template-rows: 90px 1fr 1fr;
  }
  .main .term .inner-block .text-container {
    height: 230px;
  }
  .main .term .inner-block .text-container-1 {
    margin-bottom: 28px;
  }
  .main .term .inner-block .section-image-container .section-image {
    height: 70%;
  }
}
@media (max-width: 1024px) {
  .main .term {
    padding: 62px 0;
  }
  .main .term .inner-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  .main .term .inner-block .section-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
  }
  .main .term .inner-block .section-image-container .section-image {
    max-width: 80%;
    margin: 0 auto;
    margin-right: 0;
  }
  .main .term .inner-block .text-container {
    height: 270px;
  }
  .main .term .inner-block .text-container-1 {
    margin-top: 46px;
    margin-bottom: 24px;
  }
}
@media (max-width: 720px) {
  .main .term {
    padding: 62px 0;
  }
  .main .term .inner-block {
    padding-left: 0;
    padding-right: 0;
  }
  .main .term .inner-block .text-container {
    height: 270px;
  }
  .main .term .inner-block .text-container-1 {
    margin-top: 46px;
    margin-bottom: 24px;
  }
}
@media (max-width: 428px) {
  .main .term {
    padding: 32px 0;
  }
  .main .term .inner-block .section-image-container {
    max-width: 60%;
  }
  .main .term .inner-block .section-image-container .section-image {
    max-width: 100%;
  }
  .main .term .inner-block .text-container {
    padding: 13px;
    height: auto;
    margin: 0 9px 0 5px;
  }
  .main .term .inner-block .text-container .module .text {
    padding: 13px 0;
  }
  .main .term .inner-block .text-container-1 {
    margin-top: 46px;
    margin-bottom: 24px;
  }
}
.about {
  padding: 77px 0;
}
.about .inner-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about .inner-block .content {
  display: grid;
  margin-top: 63px;
  grid-template-columns: 30% 578px 108px;
  grid-template-rows: auto auto auto;
  grid-template-areas: "group text-1 icon" "group text-2 text-2" "text-3 image .";
}
.about .inner-block .content .icons-group {
  position: relative;
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: group;
}
.about .inner-block .content .icons-group .tiktok-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.about .inner-block .content .icons-group .instagram-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about .inner-block .content .icons-group .twitter-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  align-self: end;
}
.about .inner-block .content .icon-wrapper {
  width: 140px;
  height: 108px;
}
.about .inner-block .content .icon-wrapper .module {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}
.about .inner-block .content .icon-wrapper .module .icon {
  width: 130px;
  margin-top: -20px;
}
.about .inner-block .content .text-container {
  text-align: left;
  height: auto;
  max-width: 578px;
}
.about .inner-block .content .text-container .module {
  padding: 30px 29px;
  z-index: -3;
}
.about .inner-block .content .text-container-1 {
  grid-area: text-1;
  margin-left: -10%;
  margin-top: 34px;
}
.about .inner-block .content .right-icons {
  display: flex;
  grid-area: icon;
  align-self: end;
}
.about .inner-block .content .right-icons .module .icon {
  width: 120px;
}
.about .inner-block .content .text-container-2 {
  grid-area: text-2;
}
.about .inner-block .content .text-container-3 {
  grid-area: 3/1;
  width: 200%;
  margin-top: 91px;
}
.about .inner-block .content .text-container-3 .module {
  display: flex;
  flex-direction: column;
}
.about .inner-block .content .text-container-3 .module .nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}
.about .inner-block .content .text-container-3 .module .nav-buttons .nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: 0 4px;
}
.about .inner-block .content .text-container-3 .module .nav-buttons .nav-button svg {
  width: 100%;
  height: 100%;
}
.about .inner-block .content .text-container-3 .module .nav-buttons .nav-button svg circle {
  stroke: white;
}
.about .inner-block .content .text-container-3 .module .nav-buttons .active-nav-button {
  width: 21px;
  height: 21px;
}
.about .inner-block .content .text-container-3 .module .nav-buttons .active-nav-button svg {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}
.about .inner-block .content .text-container-3 .module .nav-buttons .active-nav-button svg .outer-circle {
  stroke: #00EAC3;
}
.about .inner-block .content .text-container-3 .module .nav-buttons .active-nav-button svg .inner-circle {
  stroke: none;
  fill: #00EAC3;
}
.about .inner-block .content .section-image-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 135%;
  grid-area: image;
  margin-top: 91px;
}
.about .inner-block .content .section-image-container .section-image {
  max-width: 523px;
  max-height: 326px;
  height: auto;
}

@media (max-width: 1366px) {
  .about {
    padding: 47px 0;
  }
  .about .inner-block .content {
    margin-top: 43px;
    grid-template-columns: 30% auto auto;
  }
  .about .inner-block .content .icons-group {
    margin-top: 24px;
  }
  .about .inner-block .content .icon-wrapper {
    width: 120px;
    height: 80px;
  }
  .about .inner-block .content .icon-wrapper .module .icon {
    width: 100px;
    margin-top: -10px;
  }
  .about .inner-block .content .text-container .module {
    padding: 20px 19px;
  }
  .about .inner-block .content .text-container-1 {
    margin-top: 24px;
  }
  .about .inner-block .content .right-icons .module .icon {
    width: 100px;
  }
  .about .inner-block .content .text-container-3 {
    margin-top: 48px;
    margin-left: 0;
  }
  .about .inner-block .content .text-container-3 .module .nav-buttons {
    margin-top: 18px;
  }
  .about .inner-block .content .text-container-3 .module .nav-buttons .nav-button {
    width: 12px;
    height: 12px;
  }
  .about .inner-block .content .text-container-3 .module .nav-buttons .active-nav-button {
    width: 18px;
    height: 18px;
  }
  .about .inner-block .content .section-image-container {
    margin-top: 48px;
    justify-content: center;
    transform: translate(25%, 0);
  }
  .about .inner-block .content .section-image-container .section-image {
    max-width: 353px;
    max-height: 256px;
  }
}
@media (max-width: 1024px) {
  .about {
    padding: 37px 0;
  }
  .about .inner-block .content {
    margin-top: 33px;
    grid-template-columns: 25% auto auto;
  }
  .about .inner-block .content .icons-group {
    margin-top: 20px;
  }
  .about .inner-block .content .icon-wrapper {
    width: 110px;
    height: 75px;
  }
  .about .inner-block .content .icon-wrapper .module .icon {
    width: 90px;
    margin-top: -5px;
  }
  .about .inner-block .content .text-container-1 {
    margin-top: 20px;
  }
  .about .inner-block .content .right-icons .module .icon {
    width: 90px;
  }
  .about .inner-block .content .text-container-3 {
    margin-top: 30px;
    margin-left: 10%;
  }
  .about .inner-block .content .text-container-3 .module .nav-buttons {
    margin-top: 28px;
  }
  .about .inner-block .content .text-container-3 .module .nav-buttons .nav-button {
    width: 10px;
    height: 10px;
  }
  .about .inner-block .content .text-container-3 .module .nav-buttons .active-nav-button {
    width: 16px;
    height: 16px;
  }
  .about .inner-block .content .section-image-container {
    margin-top: 30px;
    transform: translate(15%, 0);
  }
  .about .inner-block .content .section-image-container .section-image {
    max-width: 333px;
    max-height: 256px;
  }
}
@media (max-width: 720px) {
  .about {
    padding: 27px 0;
  }
  .about .inner-block {
    padding: 0;
  }
  .about .inner-block .content {
    display: flex;
    flex-direction: column;
    margin-top: 53px;
    padding: 0;
    grid-template-columns: 25% auto auto;
  }
  .about .inner-block .content .icons-group {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    margin: 15px 0;
  }
  .about .inner-block .content .icons-group .tiktok-wrapper {
    margin-top: 35px;
  }
  .about .inner-block .content .icons-group .icon-wrapper {
    position: relative;
  }
  .about .inner-block .content .icons-group .twitter-wrapper {
    display: none;
  }
  .about .inner-block .content .icons-group .instagram-wrapper {
    position: relative;
    left: 0;
    right: 0;
    transform: translate(0);
    margin: 0;
    margin-top: -35px;
  }
  .about .inner-block .content .icon-wrapper {
    width: 140px;
    height: 100px;
  }
  .about .inner-block .content .icon-wrapper .module .icon {
    width: 110px;
    margin-top: -5px;
  }
  .about .inner-block .content .text-container {
    width: 100%;
    margin: 0;
    margin: 10px 0;
  }
  .about .inner-block .content .right-icons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
    align-self: auto;
  }
  .about .inner-block .content .right-icons .icon-wrapper {
    width: 140px;
    height: 100px;
  }
  .about .inner-block .content .right-icons .icon-wrapper .module .icon {
    width: 110px;
  }
  .about .inner-block .content .right-icons .meta-wrapper {
    margin-top: -35px;
  }
  .about .inner-block .content .right-icons .meta-wrapper .module .icon {
    width: 110px;
  }
  .about .inner-block .content .right-icons .twitter-wrapper {
    display: block;
    margin-top: 35px;
  }
  .about .inner-block .content .text-container-3 .module .nav-buttons {
    margin-top: 28px;
  }
  .about .inner-block .content .text-container-3 .module .nav-buttons .nav-button {
    width: 10px;
    height: 10px;
  }
  .about .inner-block .content .text-container-3 .module .nav-buttons .active-nav-button {
    width: 16px;
    height: 16px;
  }
  .about .inner-block .content .section-image-container {
    margin-top: 30px;
    width: 100%;
    transform: translate(0);
  }
  .about .inner-block .content .section-image-container .section-image {
    max-width: 333px;
    max-height: 256px;
  }
}
@media (max-width: 428px) {
  .about .inner-block .content {
    align-items: center;
    margin-top: 15px;
  }
  .about .inner-block .content .icons-group {
    justify-content: center;
    margin: 14px 0;
  }
  .about .inner-block .content .icons-group .icon-wrapper {
    width: 105px;
    padding: 0;
    height: 80px;
    margin: 0;
    margin: 0 13px;
  }
  .about .inner-block .content .icons-group .icon-wrapper .module .icon {
    margin: 0;
    margin-top: -26px;
    width: 110px;
  }
  .about .inner-block .content .icons-group .instagram-wrapper {
    margin-top: -35px;
  }
  .about .inner-block .content .icons-group .tiktok-wrapper {
    margin-top: 35px;
  }
  .about .inner-block .content .right-icons .icon-wrapper {
    width: 105px;
    padding: 0;
    height: 80px;
    margin: 0;
    margin: 0 13px;
  }
  .about .inner-block .content .right-icons .icon-wrapper .module .icon {
    margin: 0;
    margin-top: -26px;
    width: 110px;
  }
  .about .inner-block .content .right-icons .meta-wrapper {
    margin-top: -35px;
  }
  .about .inner-block .content .right-icons .twitter-wrapper {
    margin-top: 35px;
  }
  .about .inner-block .content .text-container {
    margin: 0;
    padding: 0;
    width: 90%;
    margin: 0 9px 0 5px;
  }
  .about .inner-block .content .section-image-container {
    margin-top: 59px;
  }
  .about .inner-block .content .text-container {
    margin: 20px 0;
  }
}
.action {
  padding: 97px 0;
  height: auto;
}
.action .inner-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.action .inner-block .content {
  display: grid;
  grid-template-columns: 40% auto 39.5%;
  grid-template-rows: auto auto auto;
  grid-gap: 0;
  grid-template-areas: "action-1 number-1 action-2" "button button button" "action-3 number-2 action-4";
}
.action .inner-block .content .button-container {
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.action .inner-block .content .button-container .button-disabled {
  color: #ffffff;
  height: 60px;
  width: 150%;
  max-width: 290px;
  border: 1px solid #00EAC3;
  background: linear-gradient(96.44deg, #117867 7.69%, #00EAC3 112.01%);
  border-radius: 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.action .inner-block .content .action-text-container {
  margin: 46px 0;
}
.action .inner-block .content .action-text-container .module {
  padding: 11px 16px;
}
.action .inner-block .content .number-block {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/src/assets/images/icons/dashed-gorizontal.svg);
  background-position-y: center;
  background-repeat: repeat-x;
}
.action .inner-block .content .number-block .module {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: #040b1d;
}
.action .inner-block .content .number-block .module .text {
  font-weight: 300;
  font-size: 32px;
  line-height: 56px;
  color: #FFFFFF;
}
.action .inner-block .content .action-1 {
  grid-area: action-1;
}
.action .inner-block .content .number-1 .bg-block {
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  background-image: url(/src/assets/images/icons/dashed-vertical.svg);
  background-position: center;
  background-position-y: 50px;
  background-repeat: repeat-y;
}
.action .inner-block .content .action-2 {
  grid-area: action-2;
}
.action .inner-block .content .action-3 {
  grid-area: action-3;
}
.action .inner-block .content .number-2 {
  grid-area: number-2;
}
.action .inner-block .content .number-2 .bg-block {
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 50%;
  background-image: url(/src/assets/images/icons/dashed-vertical.svg);
  background-position: center;
  background-position-y: 50px;
  background-repeat: repeat-y;
}
.action .inner-block .content .action-4 {
  grid-area: action-4;
}

@media (max-width: 1366px) {
  .action {
    padding: 67px 0;
  }
  .action .inner-block .content .button-container .button-disabled {
    max-width: 220px;
    height: 45px;
    font-size: 14px;
    line-height: 18px;
  }
  .action .inner-block .content .number-block .module {
    width: 45px;
    height: 45px;
  }
  .action .inner-block .content .number-block .module .text {
    font-size: 28px;
    line-height: 42px;
  }
  .action .inner-block .content .action-text-container {
    margin: 26px 0;
  }
  .action .inner-block .content .action-text-container .module .text {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 1024px) {
  .action {
    padding: 67px 0;
  }
  .action .inner-block .content .button-container .button-disabled {
    max-width: 220px;
    height: 45px;
    font-size: 14px;
    line-height: 18px;
  }
  .action .inner-block .content .number-block .module {
    width: 40px;
    height: 40px;
  }
  .action .inner-block .content .number-block .module .text {
    font-size: 24px;
    line-height: 36px;
  }
  .action .inner-block .content .action-text-container {
    margin: 16px 0;
  }
  .action .inner-block .content .action-text-container .module .text {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 720px) {
  .action {
    padding: 67px 25px;
  }
  .action .inner-block {
    padding: 0;
  }
  .action .inner-block .content {
    display: flex;
    flex-direction: column;
  }
  .action .inner-block .content .button-container .button-disabled {
    max-width: 229px;
    height: 45px;
    font-size: 14px;
    line-height: 20px;
    margin: 40px 0;
  }
  .action .inner-block .content .number-block {
    display: none;
  }
  .action .inner-block .content .action-text-container {
    margin: 0;
    margin-bottom: 25px;
  }
  .action .inner-block .content .action-text-container .module .text {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 428px) {
  .action .inner-block {
    padding: 0;
  }
  .action .inner-block .content .button-container .button-disabled {
    max-width: 229px;
    height: 45px;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 20px;
  }
  .action .inner-block .content .action-text-container {
    margin-bottom: 25px;
  }
  .action .inner-block .content .action-text-container .module .text {
    font-size: 14px;
    line-height: 20px;
  }
}
.footer .inner-block .main-content {
  display: flex;
  justify-content: space-between;
  padding: 31px 50px;
}
.footer .inner-block .main-content .left-col {
  display: flex;
  flex-direction: column;
}
.footer .inner-block .main-content .left-col .contacts {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.footer .inner-block .main-content .left-col .contacts .contact {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  line-height: 56px;
  color: #FFFFFF;
}
.footer .inner-block .main-content .left-col .contacts .contact .icon {
  display: block;
  margin: 0 8px;
  background-size: contain;
}
.footer .inner-block .main-content .left-col .contacts .contact .location {
  background-image: url(/src/assets/images/icons/gps.svg);
  width: 18px;
  height: 18px;
}
.footer .inner-block .main-content .left-col .contacts .contact .phone {
  background-image: url(/src/assets/images/icons/phone.svg);
  width: 16px;
  height: 16px;
}
.footer .inner-block .main-content .left-col .contacts .contact .mail {
  background-image: url(/src/assets/images/icons/mail.svg);
  width: 16px;
  height: 13px;
}
.footer .inner-block .main-content .left-col .socials {
  display: flex;
}
.footer .inner-block .main-content .left-col .socials .social {
  border-radius: 50%;
  width: 31px;
  height: 31px;
  margin: 0 7px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.footer .inner-block .main-content .left-col .socials .twitter {
  background-image: url(/src/assets/images/icons/twitter-footer.svg);
}
.footer .inner-block .main-content .left-col .socials .facebook {
  background-image: url(/src/assets/images/icons/facebook-footer.svg);
}
.footer .inner-block .main-content .left-col .socials .instagram {
  background-image: url(/src/assets/images/icons/instagram-footer.svg);
}
.footer .inner-block .main-content .right-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0 25px;
  padding: 15px 0;
}
.footer .inner-block .main-content .right-col .footer-link {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  min-width: 130px;
}
.footer .inner-block .main-content .right-col .footer-link:hover {
  font-weight: 700;
}
.footer .inner-block .under-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat";
  padding: 15px 0;
}
.footer .inner-block .under-footer .date {
  font-weight: 300;
  font-size: 16px;
  line-height: 56px;
}
.footer .inner-block .under-footer .documents .document-link {
  padding: 0 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 56px;
}

@media (max-width: 1366px) {
  .footer .inner-block .main-content {
    padding: 20px 30px;
  }
  .footer .inner-block .main-content .left-col .contacts {
    margin: 10px 0;
  }
  .footer .inner-block .main-content .left-col .contacts .contact {
    font-size: 14px;
    line-height: 36px;
  }
  .footer .inner-block .main-content .left-col .contacts .contact .icon {
    width: 15px;
    height: 15px;
  }
  .footer .inner-block .main-content .left-col .contacts .socials .social {
    width: 26px;
    height: 26px;
  }
  .footer .inner-block .main-content .right-col {
    grid-gap: 10px 20px;
    padding: 10px 0;
  }
  .footer .inner-block .main-content .right-col .footer-link {
    min-width: 100px;
    font-size: 14px;
    line-height: 26px;
  }
  .footer .inner-block .under-footer {
    padding: 25px 0;
  }
  .footer .inner-block .under-footer .date {
    font-size: 14px;
    line-height: 26px;
  }
  .footer .inner-block .under-footer .documents .document-link {
    padding: 0 13px;
    font-size: 12px;
    line-height: 26px;
  }
}
@media (max-width: 1024px) {
  .footer .inner-block .main-content {
    padding: 10px 0;
  }
  .footer .inner-block .main-content .left-col .contacts {
    margin: 10px 0;
  }
  .footer .inner-block .main-content .left-col .contacts .contact {
    font-size: 12px;
    line-height: 28px;
  }
  .footer .inner-block .main-content .left-col .contacts .contact .icon {
    width: 13px;
    height: 13px;
  }
  .footer .inner-block .main-content .right-col {
    grid-gap: 5px 10px;
    padding: 5px 0;
  }
  .footer .inner-block .main-content .right-col .footer-link {
    min-width: 80px;
    font-size: 12px;
    line-height: 20px;
  }
  .footer .inner-block .under-footer {
    padding: 15px 0;
  }
  .footer .inner-block .under-footer .date {
    font-size: 12px;
    line-height: 20px;
  }
  .footer .inner-block .under-footer .documents .document-link {
    padding: 0 9px;
    font-size: 10px;
    line-height: 20px;
  }
}
@media (max-width: 720px) {
  .footer .inner-block {
    padding: 0 35px;
  }
  .footer .inner-block .main-content .left-col .contacts {
    margin: 0;
  }
  .footer .inner-block .main-content .left-col .contacts .contact {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
  }
  .footer .inner-block .main-content .left-col .contacts .contact .icon {
    width: 13px;
    height: 13px;
  }
  .footer .inner-block .main-content .left-col .socials {
    margin: 25px 0;
  }
  .footer .inner-block .main-content .right-col {
    grid-gap: 0;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer .inner-block .main-content .right-col .footer-link {
    min-width: 80px;
    font-size: 12px;
    line-height: 20px;
  }
  .footer .inner-block .main-content .right-col .footer-link-6, .footer .inner-block .main-content .right-col .footer-link-7, .footer .inner-block .main-content .right-col .footer-link-8, .footer .inner-block .main-content .right-col .footer-link-9, .footer .inner-block .main-content .right-col .footer-link-10 {
    display: none;
  }
  .footer .inner-block .under-footer {
    padding: 15px 0;
  }
  .footer .inner-block .under-footer .date {
    font-size: 10px;
    line-height: 16px;
  }
  .footer .inner-block .under-footer .documents .document-link {
    padding: 0 9px;
    font-size: 9px;
    line-height: 16px;
  }
}
@media (max-width: 428px) {
  .footer .inner-block {
    padding: 0 34px;
  }
  .footer .inner-block .main-content {
    padding: 35px 0;
  }
  .footer .inner-block .main-content .left-col .contacts .contact {
    font-weight: 300;
    margin: 10px 0;
    font-size: 16px;
    line-height: 20px;
  }
  .footer .inner-block .main-content .left-col .socials {
    margin: 25px 0;
  }
  .footer .inner-block .main-content .right-col {
    padding-bottom: 0;
  }
  .footer .inner-block .main-content .right-col .footer-link {
    min-width: 100px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
  }
  .footer .inner-block .under-footer {
    padding: 15px 0;
    align-items: baseline;
  }
  .footer .inner-block .under-footer .date {
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
  }
  .footer .inner-block .under-footer .documents {
    text-align: right;
  }
  .footer .inner-block .under-footer .documents .document-link {
    padding: 0 9px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 310px) and (max-width: 418px) {
  .footer .inner-block .main-content .left-col .contacts .contact {
    font-size: 14px;
    line-height: 18px;
  }
  .footer .inner-block .main-content .right-col .footer-link {
    font-size: 14px;
    line-height: 18px;
  }
  .footer .inner-block .under-footer {
    padding: 15px 0;
  }
  .footer .inner-block .under-footer .date {
    font-size: 14px;
    line-height: 24px;
  }
  .footer .inner-block .under-footer .documents .document-link {
    font-size: 12px;
    line-height: 18px;
  }
}

/*# sourceMappingURL=index.css.map */
