.about
    .inner-block
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        .content
            display: grid
            margin-top: 63px
            grid-template-columns: 30% 578px 108px
            grid-template-rows: auto auto auto
            grid-template-areas: 'group text-1 icon' 'group text-2 text-2' 'text-3 image .'
            .icons-group
                position: relative
                margin-top: 34px
                display: flex
                flex-direction: column
                justify-content: space-between
                grid-area: group
                .tiktok-wrapper
                    position: absolute
                    top: 0
                    left: 0
                .instagram-wrapper
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                .twitter-wrapper
                    position: absolute
                    bottom: 0
                    right: 0
                    align-self: end
            .icon-wrapper
                width: 140px
                height: 108px
                .module
                    display: flex
                    justify-content: center
                    max-width: 100%
                    max-height: 100%
                    .icon
                        width: 130px
                        margin-top: -20px
            .text-container
                text-align: left
                height: auto
                max-width: 578px
                .module
                    padding: 30px 29px
                    z-index: -3
            .text-container-1
                grid-area: text-1
                margin-left: -10%
                margin-top: 34px
            .right-icons
                display: flex
                grid-area: icon
                align-self: end
                .module
                    .icon
                        width: 120px
            .text-container-2
                grid-area: text-2
            .text-container-3
                grid-area: 3/1
                width: 200%
                margin-top: 91px
                .module
                    display: flex
                    flex-direction: column
                    .nav-buttons
                        display: flex
                        align-items: center
                        justify-content: center
                        margin-top: 24px
                        .nav-button
                            display: flex
                            justify-content: center
                            align-items: center
                            cursor: pointer
                            width: 15px
                            height: 15px
                            margin: 0 4px
                            svg
                                width: 100%
                                height: 100%
                                circle
                                    stroke: white
                        .active-nav-button
                            width: 21px
                            height: 21px
                            svg
                                width: 100%
                                max-width: 100%
                                max-height: 100%
                                height: 100%
                                .outer-circle
                                    stroke: $investGreen
                                .inner-circle
                                    stroke: none
                                    fill: $investGreen
            .section-image-container
                display: flex
                align-items: center
                justify-content: flex-end
                width: 135%
                grid-area: image
                margin-top: 91px
                .section-image
                    max-width: 523px
                    max-height: 326px
                    height: auto
@media (max-width: $breakpoint-middle-pc)
.about
    .inner-block
        .content
            margin-top: 43px
            grid-template-columns: 30% auto auto
            .icons-group
                margin-top: 24px
            .icon-wrapper
                width: 120px
                height: 80px
                .module
                    .icon
                        width: 100px
                        margin-top: -10px
            .text-container
                .module
                    padding: 20px 19px
            .text-container-1
                margin-top: 24px
            .right-icons
                .module
                    .icon
                        width: 100px
            .text-container-3
                margin-top: 48px
                margin-left: 0
                .module
                    .nav-buttons
                        margin-top: 18px
                        .nav-button
                            width: 12px
                            height: 12px
                        .active-nav-button
                            width: 18px
                            height: 18px

            .section-image-container
                margin-top: 48px
                justify-content: center
                transform: translate(25%, 0)
                .section-image
                    max-width: 353px
                    max-height: 256px
@media (max-width: $breakpoint-small-pc)
.about
    .inner-block
        .content
            margin-top: 33px
            grid-template-columns: 25% auto auto
            .icons-group
                margin-top: 20px
            .icon-wrapper
                width: 110px
                height: 75px
                .module
                    .icon
                        width: 90px
                        margin-top: -5px
            .text-container-1
                margin-top: 20px
            .right-icons
                .module
                    .icon
                        width: 90px
            .text-container-3
                margin-top: 30px
                margin-left: 10%
                .module
                    .nav-buttons
                        margin-top: 28px
                        .nav-button
                            width: 10px
                            height: 10px
                        .active-nav-button
                            width: 16px
                            height: 16px

            .section-image-container
                margin-top: 30px
                transform: translate(15%, 0)
                .section-image
                    max-width: 333px
                    max-height: 256px

@media (max-width: $breakpoint-tablet)
    .about
        .inner-block
            padding: 0
            .content
                display: flex
                flex-direction: column
                margin-top: 53px
                padding: 0
                grid-template-columns: 25% auto auto
                .icons-group
                    display: flex
                    justify-content: space-evenly
                    flex-direction: row
                    align-items: center
                    margin-top: 0
                    margin: 15px 0
                    .tiktok-wrapper
                        margin-top: 35px
                    .icon-wrapper
                        position: relative
                    .twitter-wrapper
                        display: none
                    .instagram-wrapper
                        position: relative
                        left: 0
                        right: 0
                        transform: translate(0)
                        margin: 0
                        margin-top: -35px
                .icon-wrapper
                    width: 140px
                    height: 100px
                    .module
                        .icon
                            width: 110px
                            margin-top: -5px
                .text-container
                    width: 100%
                    margin: 0
                    margin: 10px 0
                .right-icons
                    display: flex
                    justify-content: space-evenly
                    flex-direction: row
                    align-items: center
                    margin: 15px 0
                    align-self: auto
                    .icon-wrapper
                        width: 140px
                        height: 100px
                        .module
                            .icon
                                width: 110px
                    .meta-wrapper
                        margin-top: -35px
                        .module
                            .icon
                                width: 110px
                    .twitter-wrapper
                        display: block
                        margin-top: 35px
                .text-container-3
                    .module
                        .nav-buttons
                            margin-top: 28px
                            .nav-button
                                width: 10px
                                height: 10px
                            .active-nav-button
                                width: 16px
                                height: 16px

                .section-image-container
                    margin-top: 30px
                    width: 100%
                    transform: translate(0)
                    .section-image
                        max-width: 333px
                        max-height: 256px
@media (max-width: $breakpoint-mobile-large)
    .about
        .inner-block
            .content
                align-items: center
                margin-top: 15px
                .icons-group
                    justify-content: center
                    margin: 14px 0
                    .icon-wrapper
                        width: 105px
                        padding: 0
                        height: 80px
                        margin: 0
                        margin: 0 13px
                        .module
                            .icon
                                margin: 0
                                margin-top: -26px
                                width: 110px
                    .instagram-wrapper
                        margin-top: -35px
                    .tiktok-wrapper
                        margin-top: 35px
                .right-icons
                    .icon-wrapper
                        width: 105px
                        padding: 0
                        height: 80px
                        margin: 0
                        margin: 0 13px
                        .module
                            .icon
                                margin: 0
                                margin-top: -26px
                                width: 110px
                    .meta-wrapper
                        margin-top: -35px
                    .twitter-wrapper
                        margin-top: 35px
                .text-container
                    margin: 0
                    padding: 0
                    width: 90%
                    margin: 0 9px 0 5px
                .section-image-container
                    margin-top: 59px
                .text-container
                    margin: 20px 0
