.about
    .inner-block
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        .content
            display: grid
            margin-top: 63px
            grid-template-columns: 30% 578px 108px
            grid-template-rows: auto auto auto
            grid-template-areas: 'group text-1 icon' 'group text-2 text-2' 'text-3 image .'
            .icons-group
                position: relative
                margin-top: 34px
                display: flex
                flex-direction: column
                justify-content: space-between
                grid-area: group
                .tiktok-wrapper
                    position: absolute
                    top: 0
                    left: 0
                .instagram-wrapper
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                .twitter-wrapper
                    position: absolute
                    bottom: 0
                    right: 0
                    align-self: end
            .icon-wrapper
                width: 140px
                height: 108px
                .module
                    display: flex
                    justify-content: center
                    max-width: 100%
                    max-height: 100%
                    .icon
                        width: 130px
                        margin-top: -20px
            .text-container
                text-align: left
                height: auto
                max-width: 578px
                .module
                    padding: 30px 29px
                    z-index: -3
            .text-container-1
                grid-area: text-1
                margin-left: -10%
                margin-top: 40px
            .one-icon
                grid-area: icon
                align-self: end
                .module
                    .icon
                        width: 120px
            .text-container-2
                grid-area: text-2
            .text-container-3
                grid-area: 3/1
                width: 200%
                margin-top: 91px
                .module
                    display: flex
                    flex-direction: column
                    .nav-buttons
                        display: flex
                        margin-top: 24px
                        .nav-button
                            cursor: pointer
                            width: 15px
                            height: 15px
                            margin: 0 4px
                            svg
                                width: 100%
                                height: 100%
                                circle
                                    stroke: white
                        .active-nav-button
                            width: 21px
                            height: 21px
                            svg
                                width: 100%
                                height: 100%
                                .outer-circle
                                    stroke: $investGreen
                                .inner-circle
                                    stroke: none
                                    fill: $investGreen
            .section-image-container
                display: flex
                justify-content: flex-end
                width: 135%
                grid-area: image
                margin-top: 91px
                .section-image
                    max-width: 523px
                    max-height: 326px
                    height: auto
// 944
