.main
    .term
        padding: 89px 0
        .inner-block
            display: grid
            grid-template-columns: 55% 1fr
            grid-template-rows: 110px 1fr 1fr
            grid-template-areas: 'h2 pic' 'text-1 pic' 'text-2 pic'
            padding-left: 45px
            .h2
                grid-area: h2
                width: fit-content
                margin: 0 auto
                font-size: 32px
                line-height: 56px
                padding: 21px 0
            .text-container
                display: flex
                justify-content: center
                align-items: center
                backdrop-filter: blur(42px)
                border-radius: 16px
                border: 1px solid linear-gradient(152.97deg, rgba(255, 255, 255, 0.028) 0%, rgba(255, 255, 255, 0) 100%)
                border: 0.5px solid white
                height: 208px
                .text
                    font-family: 'Montserrat'
                    font-style: normal
                    font-weight: 300
                    font-size: 18px
                    line-height: 30px
                    padding: 0 24px 0 33px
            .text-container-1
                grid-area: text-1
                margin-bottom: 34px
            .text-container-2
                grid-area: text-2
            .section-image-container
                display: flex
                justify-content: center
                align-items: center
                grid-area: pic
                .section-image
                    margin-right: -15%
                    object-fit: contain
