*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

img {
  display: block;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  font-size: inherit;
  font-weight: inherit;
}

button:focus {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

select:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input, select, textarea {
  border: none;
}

input:focus {
  outline: none;
}

@font-face {
  font-family: "Montserrat";
  src: url(/src/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(/src/assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(/src/assets/fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(/src/assets/fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/src/assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/src/assets/fonts/Open_Sans/OpenSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/src/assets/fonts/Open_Sans/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(/src/assets/fonts/Open_Sans/OpenSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(/src/assets/fonts/Poppins/Poppins-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(/src/assets/fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(/src/assets/fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(/src/assets/fonts/Poppins/Poppins-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
body {
  font-family: "Open Sans";
}

.h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}

.h2 {
  font-size: 32px;
  line-height: 56px;
}

.h2, .h3, .h4, .h5, .h6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
}

.colorful-text {
  color: #00EAC3;
  text-transform: uppercase;
}

a, p, h1, h2, h3, h4, h5, h6 {
  color: white;
}

@media (max-width: 1620px) {
  .h1 {
    font-size: 50px;
    line-height: 50px;
  }
}
@media (max-width: 1366px) {
  .h1 {
    font-size: 43px;
    line-height: 48px;
  }

  .h2 {
    font-size: 28px;
    line-height: 46px;
  }
}
@media (max-width: 1024px) {
  .h1 {
    font-size: 38px;
    line-height: 40px;
  }

  .h2 {
    font-size: 24px;
    line-height: 42px;
  }
}
@media (max-width: 720px) {
  .h1 {
    font-size: 28px;
    line-height: 30px;
  }

  .h2 {
    font-size: 22px;
    line-height: 38px;
  }
}
@media (max-width: 428px) {
  .h1 {
    font-size: 24px;
    line-height: 22px;
  }

  .h2 {
    font-size: 18px;
    line-height: 56px;
  }
}
body {
  background-color: #040b1d;
}

.inner-block {
  max-width: 1097px;
  margin: 0 auto;
}

.text-lines {
  display: block;
  position: relative;
  width: fit-content;
}
.text-lines::before {
  content: " ";
  display: block;
  background-color: #00EAC3;
  position: absolute;
  width: 50px;
  height: 1px;
  left: -25%;
  top: 50%;
}
.text-lines::after {
  content: " ";
  display: block;
  position: absolute;
  background-color: #00EAC3;
  right: -25%;
  width: 50px;
  height: 1px;
  top: 50%;
}

.text-container, .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.text-container .module, .icon-wrapper .module {
  display: flex;
  align-items: center;
  position: relative;
  border: 0;
  background-color: transparent;
  padding: 0 28px;
}
.text-container .module::before, .icon-wrapper .module::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  padding: 1px;
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: source-out;
  mask-composite: exclude;
  background-size: 400% 400%;
}
.text-container .module .text, .icon-wrapper .module .text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.hidden {
  display: none;
}

@media (max-width: 1366px) {
  .inner-block {
    max-width: 100%;
    padding: 0 70px;
  }
  .inner-block .text-container .module .text {
    font-size: 16px;
    line-height: 26px;
  }
  .inner-block .text-lines::before {
    left: -60px;
  }
  .inner-block .text-lines::after {
    right: -60px;
  }
}
@media (max-width: 1024px) {
  .inner-block {
    max-width: 100%;
    padding: 0 60px;
  }
}
@media (max-width: 428px) {
  .inner-block {
    max-width: 100%;
    padding: 0 20px;
  }
  .inner-block .text-container .module .text {
    font-size: 24px;
    line-height: 28px;
  }
  .inner-block .text-lines::before {
    width: 30px;
    left: -35px;
  }
  .inner-block .text-lines::after {
    width: 30px;
    right: -35px;
  }
}
@media (max-width: 720px) {
  .main .term .inner-block .text-container .module .text {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 428px) {
  .main .term .inner-block .text-container .module .text {
    font-size: 15px;
    line-height: 25px;
  }
}
.header {
  position: absolute;
  height: 58px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 19px 0;
}
.header .inner-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header .inner-block .logo {
  max-height: 100%;
  width: auto;
}
.header .inner-block .nav {
  font-family: "Open Sans";
  font-style: normal;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.header .inner-block .nav .nav-item {
  margin: 0 15px;
  text-transform: uppercase;
}
.header .inner-block .nav .nav-item:hover {
  color: #00EAC3;
}
.header .inner-block .nav .nav-item_active {
  color: #00EAC3;
  font-weight: 800;
}
.header .inner-block .show-menu {
  width: 30px;
  height: 30px;
  background-image: url(/src/assets/images/icons/menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1620px) {
  .header {
    margin: 16px 0;
  }
  .header .inner-block .logo {
    max-height: 100%;
  }
  .header .inner-block .nav {
    font-size: 14px;
    line-height: 20px;
  }
  .header .inner-block .nav .nav-item {
    margin: 0 10px;
  }
}
@media (max-width: 1366px) {
  .header {
    margin: 14px 0;
  }
}
@media (max-width: 1024px) {
  .header {
    height: 40px;
    margin: 14px 0;
  }
  .header .inner-block {
    max-height: 100%;
  }
  .header .inner-block .logo {
    height: 40px;
  }
  .header .inner-block .nav {
    font-size: 12px;
    line-height: 18px;
  }
  .header .inner-block .nav .nav-item {
    margin: 0 7px;
  }
}
@media (max-width: 720px) {
  .header {
    height: 50px;
    margin: 10px 0;
  }
  .header .inner-block .nav {
    display: none;
  }
  .header .inner-block .show-menu {
    display: block;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 428px) {
  .header {
    padding: 0 4px 0 15px;
    height: 50px;
    margin: 0;
  }
  .header .inner-block .logo {
    height: 32px;
  }
  .header .inner-block .nav {
    display: none;
  }
  .header .inner-block .show-menu {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }
}
.main {
  background-image: url(/src/assets/images/start_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.main .inner-block .start {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
.main .inner-block .start .h1 {
  padding-top: 194px;
  max-width: 80%;
}
.main .inner-block .start .h1 .colorful-text {
  font-family: "Poppins";
}
.main .inner-block .start .space-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex: 1;
}
.main .inner-block .start .space-div .mouse-down {
  width: 40px;
  height: 61px;
  background-image: url(/src/assets/images/icons/mouse_down.svg);
  margin: 27px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1620px) {
  .main .inner-block .start .h1 {
    padding-top: 166px;
  }
}
@media (max-width: 1024px) {
  .main .inner-block .start .h1 {
    padding-top: 146px;
    max-width: 96%;
  }
  .main .inner-block .start .space-div .mouse-down {
    width: 34px;
    height: 56px;
    margin: 22px;
  }
}
@media (max-width: 720px) {
  .main .inner-block .start .h1 {
    padding-top: 126px;
    max-width: 80%;
  }
}
@media (max-width: 428px) {
  .main .inner-block .start .h1 {
    padding-top: 107px;
    max-width: 75%;
  }
  .main .inner-block .start .space-div .mouse-down {
    width: 28px;
    height: 44px;
    margin: 46px;
  }
}
@media (max-width: 350px) {
  .main .inner-block .start .h1 {
    padding-top: 107px;
    max-width: 87%;
  }
}
.main .term {
  padding: 89px 0;
}
.main .term .inner-block {
  display: grid;
  grid-template-columns: 55% 1fr;
  grid-template-rows: 110px 1fr 1fr;
  grid-template-areas: "h2 pic" "text-1 pic" "text-2 pic";
  padding-left: 45px;
}
.main .term .inner-block .h2 {
  grid-area: h2;
  margin: 0 auto;
  padding: 21px 0;
}
.main .term .inner-block .text-container {
  height: 208px;
}
.main .term .inner-block .text-container .module {
  height: 100%;
}
.main .term .inner-block .text-container-1 {
  grid-area: text-1;
  margin-bottom: 34px;
}
.main .term .inner-block .text-container-2 {
  grid-area: text-2;
}
.main .term .inner-block .section-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: pic;
}
.main .term .inner-block .section-image-container .section-image {
  margin-right: -15%;
  object-fit: contain;
}

@media (max-width: 1366px) {
  .main .term {
    padding: 62px 0;
  }
  .main .term .inner-block {
    padding-left: 28px;
    grid-template-rows: 90px 1fr 1fr;
  }
  .main .term .inner-block .text-container {
    height: 230px;
  }
  .main .term .inner-block .text-container-1 {
    margin-bottom: 28px;
  }
  .main .term .inner-block .section-image-container .section-image {
    height: 70%;
  }
}
@media (max-width: 1024px) {
  .main .term {
    padding: 62px 0;
  }
  .main .term .inner-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  .main .term .inner-block .section-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
  }
  .main .term .inner-block .section-image-container .section-image {
    max-width: 80%;
    margin: 0 auto;
    margin-right: 0;
  }
  .main .term .inner-block .text-container {
    height: 270px;
  }
  .main .term .inner-block .text-container-1 {
    margin-top: 46px;
    margin-bottom: 24px;
  }
}
@media (max-width: 720px) {
  .main .term {
    padding: 62px 0;
  }
  .main .term .inner-block {
    padding-left: 0;
    padding-right: 0;
  }
  .main .term .inner-block .text-container {
    height: 270px;
  }
  .main .term .inner-block .text-container-1 {
    margin-top: 46px;
    margin-bottom: 24px;
  }
}
@media (max-width: 428px) {
  .main .term {
    padding: 32px 0;
  }
  .main .term .inner-block .section-image-container {
    max-width: 60%;
  }
  .main .term .inner-block .section-image-container .section-image {
    max-width: 100%;
  }
  .main .term .inner-block .text-container {
    height: 204px;
    padding: 13px;
    height: auto;
    margin: 0 9px 0 5px;
  }
  .main .term .inner-block .text-container-1 {
    margin-top: 46px;
    margin-bottom: 24px;
  }
}
.about .inner-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about .inner-block .content {
  display: grid;
  margin-top: 63px;
  grid-template-columns: 30% 578px 108px;
  grid-template-rows: auto auto auto;
  grid-template-areas: "group text-1 icon" "group text-2 text-2" "text-3 image .";
}
.about .inner-block .content .icons-group {
  position: relative;
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: group;
}
.about .inner-block .content .icons-group .tiktok-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.about .inner-block .content .icons-group .instagram-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about .inner-block .content .icons-group .twitter-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  align-self: end;
}
.about .inner-block .content .icon-wrapper {
  width: 140px;
  height: 108px;
}
.about .inner-block .content .icon-wrapper .module {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}
.about .inner-block .content .icon-wrapper .module .icon {
  width: 130px;
  margin-top: -20px;
}
.about .inner-block .content .text-container {
  text-align: left;
  height: auto;
  max-width: 578px;
}
.about .inner-block .content .text-container .module {
  padding: 30px 29px;
  z-index: -3;
}
.about .inner-block .content .text-container-1 {
  grid-area: text-1;
  margin-left: -10%;
  margin-top: 40px;
}
.about .inner-block .content .one-icon {
  grid-area: icon;
  align-self: end;
}
.about .inner-block .content .one-icon .module .icon {
  width: 120px;
}
.about .inner-block .content .text-container-2 {
  grid-area: text-2;
}
.about .inner-block .content .text-container-3 {
  grid-area: 3/1;
  width: 200%;
  margin-top: 91px;
}
.about .inner-block .content .text-container-3 .module {
  display: flex;
  flex-direction: column;
}
.about .inner-block .content .text-container-3 .module .nav-buttons {
  display: flex;
  margin-top: 24px;
}
.about .inner-block .content .text-container-3 .module .nav-buttons .nav-button {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: 0 4px;
}
.about .inner-block .content .text-container-3 .module .nav-buttons .nav-button svg {
  width: 100%;
  height: 100%;
}
.about .inner-block .content .text-container-3 .module .nav-buttons .nav-button svg circle {
  stroke: white;
}
.about .inner-block .content .text-container-3 .module .nav-buttons .active-nav-button {
  width: 21px;
  height: 21px;
}
.about .inner-block .content .text-container-3 .module .nav-buttons .active-nav-button svg {
  width: 100%;
  height: 100%;
}
.about .inner-block .content .text-container-3 .module .nav-buttons .active-nav-button svg .outer-circle {
  stroke: #00EAC3;
}
.about .inner-block .content .text-container-3 .module .nav-buttons .active-nav-button svg .inner-circle {
  stroke: none;
  fill: #00EAC3;
}
.about .inner-block .content .section-image-container {
  display: flex;
  justify-content: flex-end;
  width: 135%;
  grid-area: image;
  margin-top: 91px;
}
.about .inner-block .content .section-image-container .section-image {
  max-width: 523px;
  max-height: 326px;
  height: auto;
}

/*# sourceMappingURL=index.css.map */
